body{
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(82, 152, 210);
}
header {
    background-color: rgb(20, 19, 19);
    padding: 15px 20px;
    color: aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}
nav a{
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}
footer{
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    text-align: center; 
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 12px;

}
.highlights{
    background-color: yellow;
     text-align: center;
     padding: 30px ;
     margin: 50px auto;
     width: 80%;
     border-radius: 12px;
     padding-bottom: 40px;
}
.highlights h2{
    margin-bottom: 20px;
    font-size: 28px;
}
.highlights ul{
    list-style: none;
}
.main{
    background-color: rgb(144, 67, 67);
    color: aliceblue;
    text-align: center;
    padding: 120px;
    border-radius: 12px;
}
.btn{
    background-color: aqua;
    color: blueviolet;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
#user-display{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
}